<setting>
    <ConStr>Server=127.0.0.1;Port=3306;Database=myerpplus_serenity;Uid=myerpplus;Pwd=Uprofit123!@#;Max Pool Size=10000;Allow User Variables=True;</ConStr>
    <ReportConStr>DSN=myerpplus_serenity;DESCRIPTION=myerpplus_serenity;SERVER=127.0.0.1;UID=myerpplus;PWD=Uprofit123!@#;DATABASE=myerpplus_serenity;PORT=3306</ReportConStr>
</setting>