CDC_MYSQL_HOST=103.125.36.54
CDC_MYSQL_PORT=20406
CDC_MYSQL_DATABASE=myerpplus_dashboard
CDC_MYSQL_USER=dashboard
CDC_MYSQL_PASSWORD=CHANGE_ME
CDC_MYSQL_SERVER_ID=5401
CDC_MYSQL_TABLE_INCLUDE_LIST=myerpplus_dashboard.*
KAFKA_BOOTSTRAP_SERVERS=kafka:9092
