@layer components {
  /* Variables */
  .demo1 {
    --sidebar-transition-duration: 0.3s;
    --sidebar-transition-timing: ease;
    --sidebar-width: 280px;
    --sidebar-width-collapse: 80px;
    --sidebar-default-width: 280px;
    --header-height: 70px;
  }

  @media (max-width: theme(--breakpoint-lg)) {
    .demo1 {
      --sidebar-width: 280px;
      --header-height: 60px;
    }
  }

  /* Base */
  .demo1 .header {
    height: var(--header-height);
  }

  .demo1 .sidebar {
    width: var(--sidebar-width);
  }

  .demo1 .sidebar-hover-trigger {
    width: 18px;
  }

  .demo1.header-fixed .wrapper {
    padding-top: var(--header-height);
  }

  /* Desktop mode */
  @media (min-width: theme(--breakpoint-lg)) {
    .demo1 .sidebar {
      width: var(--sidebar-width);
      transform: translateX(0);
      opacity: 1;
      transition:
        width var(--sidebar-transition-duration)
          var(--sidebar-transition-timing),
        transform var(--sidebar-transition-duration)
          var(--sidebar-transition-timing),
        opacity var(--sidebar-transition-duration)
          var(--sidebar-transition-timing),
        border-color var(--sidebar-transition-duration)
          var(--sidebar-transition-timing);
    }

    .demo1 .sidebar .sidebar-header {
      height: var(--header-height);
    }

    .demo1 .sidebar .sidebar-wrapper {
      width: var(--sidebar-default-width);
    }

    .demo1 .sidebar .sidebar-logo {
      width: var(--sidebar-default-width);
    }

    .demo1 .sidebar .small-logo {
      display: none;
    }

    .demo1.sidebar-fixed .wrapper {
      padding-inline-start: var(--sidebar-width) !important;
    }

    .demo1.sidebar-fixed.header-fixed .header {
      inset-inline-start: var(--sidebar-width) !important;
    }

    .demo1.sidebar-fixed.header-fixed .wrapper {
      padding-top: var(--header-height);
    }

    .demo1.sidebar-collapse .sidebar {
      transform: translateX(calc(-100% - 1rem));
      opacity: 0;
      pointer-events: none;
      border-color: transparent;
    }

    .demo1.sidebar-collapse.sidebar-hover-expand .sidebar {
      transform: translateX(0);
      opacity: 1;
      pointer-events: auto;
      border-color: inherit;
    }

    .demo1.sidebar-collapse.sidebar-fixed .wrapper {
      padding-inline-start: 0 !important;
    }

    .demo1.sidebar-collapse.sidebar-fixed.header-fixed .header {
      inset-inline-start: 0 !important;
    }
  }

  .demo1.layout-initialized .wrapper {
    transition: padding-inline-start var(--sidebar-transition-duration)
      var(--sidebar-transition-timing);
  }

  .demo1.layout-initialized .header {
    transition: inset-inline-start var(--sidebar-transition-duration)
      var(--sidebar-transition-timing);
  }
}
